<div class="posts-container">
  <% if (posts && posts.length > 0) { %> <% posts.forEach((post) => { %>
  <div class="post-item">
    <% if (locals.user && locals.user.membership_status) { %>
    <div class="post-header">
      <h2 class="post-name"><%= post.full_name %></h2>
      <h2 class="post-username">@<%= post.username %></h2>
    </div>
    <% } else { %>
    <div class="post-header hidden">
      <h2 class="post-name">*********</h2>
      <h2 class="post-username">@ ******</h2>
    </div>
    <% } %>
    <div class="post-content">
      <h2 class="post-title"><%= post.title %></h2>
      <h6 class="post-text"><%= post.text %></h6>
    </div>
  </div>
  <% }) %> <% } else { %>
  <p class="no-posts">No posts available.</p>
  <% } %>
</div>
