<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Welcome to members only</h1>

    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>

    <p>
      To be able to see usernames you need to
      <a href="/membership">join our membership</a> fristly!
    </p>

    <a href="/log-out">LOG OUT</a>
    <p>------------</p>
    <a href="create-post">Create new post</a>
    <%- include('partials/posts', { posts: posts,user:locals.user }) %> <% }
    else { %>
    <a href="/sign-up">Sign In</a>
    <a href="/log-in">Log in</a>

    <p>
      To create a post you need to <a href="/log-in">Log in </a>first. If you
      dont have account you can <a href="/sign-up">Sign up </a>.
    </p>

    <%- include('partials/posts', { posts: posts }) %> <% }%>
  </body>
</html>
