<!-- <% if (user) {%>
<h1>Create new post</h1>
<form action="/create-post" method="POST">
  <label for="title">Title:</label>
  <input id="title" name="title" placeholder="Title" type="text" />
  <label for="mess">Content:</label>
  <input id="mess" name="mess" placeholder="Write some message" type="text" />
  <button>Submit</button>
</form>

<%} else { %>
<h1>Good try :)</h1>
<h3>
  But you are not allowed to create a post because you are not logged in :(
</h3>
<%}%> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="./forms.css" />
  </head>
  <body>
    <div class="create-post-container">
      <% if (user) { %>
      <h1>Create New Post</h1>
      <form action="/create-post" method="POST">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            id="title"
            name="title"
            placeholder="Title"
            type="text"
            class="form-input"
          />
        </div>
        <div class="form-group">
          <label for="mess">Content:</label>

          <textarea
            name="mess"
            id="mess"
            placeholder="Write some message"
            class="content"
          >
          </textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
      <% } else { %>
      <h1>Good try :)</h1>
      <h3>
        But you are not allowed to create a post because you are not logged in
        :(
      </h3>
      <% } %>
    </div>
  </body>
</html>
